<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    
  </head>

  <body>
  	<h1>Peer Evaluation Tool</h1>
			
				<div class = "columnRight">
					<h5>Admin(TA/Professor)</h5>
					<%= button_to "Admin Login" , admin_login_path, :method => "get" %>
					<br><br>
					<%= button_to "Sign Up" , admin_signup_path, :method => "get" %>
				</div>

				<div class = "columnRight">
					<h5>Student Login</h5>
					<%= button_to "Student Login" , student_login_path, :method => "get" %>
					<br><br>
					<%= button_to "Sign Up" , student_signup_path, :method => "get" %>
				</div>


  </body>
</html>

