<!DOCTYPE html>
<html>
  <head>
    <title>Peer Evals - Admin </title>
    
  </head>

  <body>
  	<h1>Welcome -  <%= current_user.fname %> </h1>
			
				<div >
					<h5>Current Teams</h5>
					<%= button_to "Make a Team",  maketeam_path, :method => "get"%>
					
				</div>

				<div >
					<h5>Current Project</h5>
					<%= button_to "Add a Course",  addcourse_path, :method => "get"%>
					
				</div>

        <div>
					<h5>Current Class</h5>
					<%= button_to "Create a Project", createproject_path, :method => "get"%>
					
				</div>


  </body>
</html>